<div style="padding-top: 5%; padding-left: 5% ; padding-right:20%">

  <h1>Search Results:</h1>
        <hr>

   <% for user in @users %>
        <div style="margin-bottom:5%; margin-top: 5%;">
  <div style="width:30%; float:left;">


  <% name=user.firstName+" "+ user.LastName %>
   <%= image_tag user.avatar.url, :style=>"border-radius:50%; width:50px; height:50px" %>
<%=link_to name  ,user_path(user) %>

  </div>
    <div id="follow_form" style="width:70%; float:left;padding-top:1% ">
  <% if current_user.following?(user) %>
   <%= form_for current_user.relationships.find_by_followed_id(user),
             :html => { :method => :delete } do |f| %>
  <div class="actions"><%= f.submit "Unfollow" %></div>
<% end %>
  <% else %>
    <%= form_for current_user.relationships.
                          build(:followed_id => user.id) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <div class="actions"><%= f.submit "Follow" %></div>
<% end %>
  <% end %>


    </div>

        </div>


  <br>
  <hr>

  <% end %>

</div>




