<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>



<script type="text/javascript">


  $(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");
  });
});


</script>


  <% if user_signed_in? %>
<section class=" header_welcome2" style="height: 10%; z-index: 10;">
  <div style="float:left;margin-top:-1.5%;">
  <h style="flaot:left ; color: white; font-size: 45px ; font-weight: bolder">S</h>
  <h style="flaot:left ; color: white; font-size: 25px ; font-weight: bolder;margin-left:-2" %> circle</h>
  </div>
  <div  style="float:left;margin-left:2%">
      <% @users = User.search(params[:search]) %>

<%= form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <button class="btn btn-default" style="height:30px;">Search <% submit_tag "Search", :name => nil , :redirect_to=> 'users/index'  %></button>
  </p>
<% end %>
 
  </div>
   <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="color:buttonface;border-style: none;float:right; background-color: transparent;">
        Account<b class="caret" ></b></button> <ul  class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="color:#660033; font-weight: bold; z-index: 999999999; " >
    <li> <%= link_to "Setting" ,edit_user_registration_path%></li>
    <li> 
      <%= link_to "sign out", destroy_user_session_path, method: :delete  %>
         </li>
    

      </ul>

  <ul ><li><%=link_to"Home" ,static_pages_Home_path ,:class=>"btn btn-default",:style=>"color:buttonface;border-style: none;float:right; background-color: transparent;"    %></li></ul>
       </section>

<%  else %>
      
  <% end %>
