<!DOCTYPE html>
<html>
<head>
  
  <title>StudentCircle</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #999999;" >
   <% if user_signed_in? %>
  <%= render :partial =>"layouts/header" %>
  <%= render :partial =>"layouts/footer" %>

  <%= yield %>

  <% else %>
  <div class="background-image"></div>
  <div class="content1">
 <%= yield %>



 

<% end %>
    </div>
</body>
</html>
